.product {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 20px;
  max-height: 500px;
  /* min-width: 100px; */
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}
.product__price {
  margin-top: 5px;
}
.product__rating {
  margin: 10px;
  margin-left: 0;
}
.item {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
}
.product button {
  background-color: #f0c14b;
  /* border: 1px solid black; */
  border: none;
  padding: 9px;
  margin-top: 20px;
  color: black;
  cursor: pointer;
  font-size: 15px;
}
.star {
  height: 20px;
  color: #ffc124;
}
