.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header_search {
  display: flex;
  flex: 1;
  align-items: center;
  cursor: pointer;
  /* border-radius: 24px; */
}

.header_logo {
  width: 120px;
  /* object-fit: contain; */
  margin: 0 20px;
  margin-top: 5px;
}
.header__searchInput {
  height: 20px;
  font-size: large;
  font-weight: 400;
  padding: 7px;
  border: none;
  outline: none;
  width: 100%;
}

.header__searchIcon {
  background-color: #cd9042;
  padding: 5px;
  height: 22px;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}
.header__option {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0 10px 0 10px;
}
.header__optionLineOne {
  margin: 0 10px;
  font-size: 12px;
  cursor: pointer;
}
.header__optionLineTwo {
  margin: 0 10px;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}
.header__optionBasket {
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
}

.cart {
  color: white;
}
.login__link {
  font-style: normal;
  color: white;
  font-style: normal;
}
